{% extends 'basehome.html' %}
{#使用列表的形式显示自己的笔记#}
{% block content %}
    <div class="container">
        <form class="navbar-form navbar-left" role="search" method="post" action="{% url 'seachnote' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="seachkeyword" class="form-control" placeholder="输入关键字">
            </div>
            <button type="submit" class="btn  btn-lg btn-primary btn-block">搜索</button>
        </form>
    </div>
    {#   通过关键字搜索之后显示出来。#}
    <div class="list-group">
        {% if notes %}
            {% for note in notes %}
                <a href="notedetailed/{{ note.nid }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ note.title }}</h4>
                    <span class="text text-success">创建时间：{{ note.date|date:"Y-m-d H:i:s" }}  </span>
                    <p class="text text-info">作者： {{ note.auther.username }}</p>
                    <p class="list-group-item-text">{{ note.meta_description }}</p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}